.my-navbar{
    width: 100%;
    top: 0px;
    background-color: #021a32;
    border-radius: 0;
    height: 50px;
    margin: 0;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
}